<!DOCTYPE html>
<html lang="en">
<head>
  <title>App Landing Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>

  
<div class="container pt-5">

  <h1>Electricity Monitoring App</h1>
  <p>The webviewer allows you to view and create, modify and delete electricity readings and cost codes.   </p>
  <p>  Cost codes are used to calculate the cost of electricity. </p>
  <p>  A plot is used to visualise the electricity use for each calendar year along with mean temperature data.
    The monthly mean temperature data at the Athenry weather station is obtained from the Met Eireann API: <a href="https://prodapi.metweb.ie/monthly-data/Athenry">https://prodapi.metweb.ie/monthly-data/Athenry</a></p>
    
  <p>The data may be viewed, created and modified in the webviewer: </p>
  <a href="/webviewer" class="btn btn-primary" id="button-showWebviewer">Launch Webviewer</a>
</div>

<div class="container pt-5">
  <h2>Using the API</h2>
  <p>To use the API to get json data, you can make the requests to the endpoints listed below:</p>
  <ul>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Endpoint</th>
        <th>Method</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>/elec/units</td>
        <td>GET</td>
        <td>Get all electricity readings with associated cost code details</td>
      </tr>
      <tr>
        <td>/elec</td>
        <td>POST</td>
        <td>Create a new reading (JSON object containing 'year', 'month', 'units', 'cost_code')</td>
      </tr>
      <tr>
        <td>/elec/&lt;int:id&gt;</td>
        <td>PUT</td>
        <td>Update a reading (JSON object containing 'id', 'year', 'month', 'units', 'cost_code')</td>
      </tr>
      <tr>
        <td>/elec/&lt;int:id&gt;</td>
        <td>DELETE</td>
        <td>Delete a reading</td>
      </tr>
      <tr>
        <td>/elec/find</td>
        <td>GET</td>
        <td>Find a reading by year and month (Query parameters: 'year', 'month')</td>
      </tr>
      <tr>
        <td>/elec/cost_codes</td>
        <td>GET</td>
        <td>Get all cost codes</td>
      </tr>
      <tr>
        <td>/elec/cost_codes</td>
        <td>POST</td>
        <td>Create a new cost code (JSON object containing 'cost_code', 's_charge', 'unit_cost', 'vat_pc', 'supplier')</td>
      </tr>
      <tr>
        <td>/elec/cost_codes/&lt;string:cost_code&gt;</td>
        <td>PUT</td>
        <td>Update a cost code (JSON object containing 'id', 'cost_code', 's_charge', 'unit_cost', 'vat_pc', 'supplier')</td>
      </tr>
      <tr>
        <td>/elec/cost_codes/&lt;string:cost_code&gt;</td>
        <td>DELETE</td>
        <td>Delete a cost code</td>
      </tr>
    </tbody>
  </table>
</div>




</body>
</html>

